.bugDetails{
    text-align: center; 
    margin:0 0 1rem 0;
    padding:.5rem;
    background:#CAE1FF;
    opacity:0.5;
    min-width:30%;
    border-radius: .8rem;
    border:2px solid red;

}


.bugDetails h2{ 
    margin:0 0 1.5rem 0;
    padding-bottom:1rem;
    font-size:4rem;
    border-bottom: 1rem groove #000000;

}


.bugDetails p{
    color:var(--text-color);
    font-size:2rem;
   
}