@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer base {
:root{
    --prim-color:#F28649;
    --text-color:#DCEAF2;
    --sec-color:#789EBF;
    --cta-color:#591902;
    box-sizing:border-box;

	--color-danger-100: #5b2929;
	--color-danger-200: #ad4c4c;
	--color-danger-300: #d36464;
	--surface: #00a2b8;
	--color-bug-accent: linear-gradient(to bottom, #519ab2 0%,#519ab2 100%);
	--color-gradient-300: linear-gradient(to bottom, #06639d 0%,#8d3b06 100%);
	--color-gradient-100: linear-gradient(to bottom, #0f2838 39.06%,#e85d04 100%);
	--color-gradient-200: linear-gradient(to bottom, #c3eaf6 0%,#519ab2 100%);
	--color-rich-dark-primary-100: #e0e7eb;
	--color-rich-dark-primary-200: #d6e0e5;
	--color-rich-dark-primary-300: #8f9aa0;
	--color-rich-dark-primary-400: #4e6573;
	--color-rich-dark-primary-500: #0f2838;
	--color-brand-100: #e8b697;
	--color-brand-200: #e8a174;
	--color-brand-300: #e88c51;
	--color-brand-400: #e87a33;
	--color-brand-500: #e85d04;
	--color-grayscale-100: #f2f2f2;
	--color-grayscale-200: #cccccc;
	--color-grayscale-300: #999999;
	--color-grayscale-400: #666666;
	--color-grayscale-500: #3f3c3c;
	--color-secondary-100: #9fd1f0;
	--color-secondary-200: #86bee0;
	--color-secondary-300: #5aace0;
	--color-secondary-400: #1693e0;
	--color-secondary-500: #0c5a8a;
    /** ttypeface*/ 
   --paragraph-caption:1.111rem;
   --paragraph-small:1.333rem;
   --paragraph-regular:1.6rem;
   --paragraph-large:1.92rem;
   --heading-size:6;
   --heading-height:0.8rem;
   --heading-5:1.6rem;
   --heading-4:1.8rem; 
   --heading-3:2.4rem;
   --heading-2:3.2rem;
   --heading-1: 4.8rem;
    --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.80rem);
    --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1.00rem);
    --step-0: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    --step-1: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.56rem);
    --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
    --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
    --step-4: clamp(2.07rem, calc(1.73rem + 1.70vw), 3.05rem);
    --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
    --step-6: clamp(2.99rem, calc(2.37rem + 3.10vw), 4.77rem);
    --step-7: clamp(3.58rem, calc(2.76rem + 4.13vw), 5.96rem);
    --step-8: clamp(4.30rem, calc(3.20rem + 5.48vw), 7.45rem);
    --step-9: clamp(5.16rem, calc(3.72rem + 7.22vw), 9.31rem);

}



body{
    box-sizing: inherit;

}

*{
    list-style-type: none;
    text-decoration: none;
}


.pageWrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:2rem;
    /* background-color:var(--sec-color); */
    text-align: center;
}


}

@layer components{
    .hero{
    /*aspect-ratio:8/6;*/
    position:relative;
    background-image:url("../public/assets/images/bug-tracker-full.jpg"), var(--color-gradient-200);
    background-position:center left 20%;
    background-origin:content-box;
    background-clip:content-box;
    background-attachment:local, scroll;
    background-blend-mode:contrast;
    @apply  min-w-fit max-w-screen-lg mx-auto h-screen;
        }
.dataWrapper{
    background-color:var(--prim-color);
    width:30vw;
    margin: 25vh auto;
    border-radius:.5rem;
    border:1px solid grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:1rem;
    text-align: center;
    @apply py-4;
}

input[name].data{
width:75%;
/*padding:.5rem 0 .5rem .5rem;*/
border-radius:.8rem;
border:none;
@apply py-2 px-2;

}


button[type].cta{
@apply px-8 py-4 bg-[var(--surface)] rounded-full text-[var(--text-color)] 
}

}
